@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro);
body {
  font-family:'Source Code Pro';
  display: flex;
  justify-content: center;
  flex-direction:column;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #1e1e1e;
}

#color-palette {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.color-box {
  width: 100px;
  height: 100px;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
}
#generate-btn{
  font-family:'Source Code Pro';
  width:9rem;
  height:4rem;
  border-radius:12px;
  color:white;
  background-color:black;
  margin-top:15px;
}

#copy-all-btn{
  font-family:'Source Code Pro';
  width:9rem;
  height:4rem;
  border-radius:12px;
  color:white;
  background-color:black;
  margin-top:15px;
}
